<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Link bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 
    
    <link rel="stylesheet" type="text/css" href="C:\Users\aka_k\Documents\BachelorOfInformationTechnology\SoftwareFrameworks\Assignments\AssignmentPhaseOne\src\assets\styles\dashboard.css">
    <title>Dashboard</title>
</head>
    <body>
        <nav class="navbar navbar-expand navbar-light bg-light mt-4">
            <div class="navbar-header">
                <a class="navbar display-4">Dashboard</a>
            </div>
            
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                <a class="nav-link display-6" href="/login" (click)="logOut()">Logout</a>
                </li>
            </ul>
        </nav>
        <div class="container-fluid">
            <p class="display-6 mt-5 ml-4">Groups</p>
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let group of groupsList; let i = index">
                    {{ group.groupName}}
                </li>
            </ul>
        </div>
    </body>
</html>